<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Map</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.3.1/dist/leaflet.css" integrity="sha256-iYUgmrapfDGvBrePJPrMWQZDcObdAcStKBpjP3Az+3s=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha256-ZT4HPpdCOt2lvDkXokHuhJfdOKSPFLzeAJik5U/Q+l4=" crossorigin="anonymous">
    <style>
      #mapid {
        height: 35em;
        width: 75%;
        margin: auto;
      }
      #ipdetailcontainer {
        font-size: 1.25em;
      }
    </style>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.3.1/dist/leaflet.js" integrity="sha256-CNm+7c26DTTCGRQkM9vp7aP85kHFMqs9MhPEuytF+fQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-providers@1.1.17/leaflet-providers.js" integrity="sha256-EgFyYVeKN9xuUtebs/WSeyWtrLr6CcaLiuD9CkLaMb8=" crossorigin="anonymous"></script>
    <h1 class='text-center'><a href="/">GeoChecker</a></h1>
    <div id="mapid"></div>
    <script type="text/javascript">
      var mymap = L.map('mapid').setView([{{latitude}}, {{longitude}}], 5);
      L.tileLayer.provider('OpenStreetMap.Mapnik').addTo(mymap);
      var marker = L.marker([{{latitude}}, {{longitude}}]).addTo(mymap);
    </script>
    <div class='container' id='ipdetailcontainer'>
      <div class='col-md-6'>
        <p>
          IP: {{ip}}
        </p>
        <p>
          Domain: {{domain}}
        </p>
        <p>
          Organization: {{org}}
        </p>
      </div>
      <div class='col-md-6'>
        <p>
          City: {{city}}
        </p>
        <p>
          Country: {{country}}
        </p>
        <p>
          Continent: {{continent}}
        </p>
      </div>
    </div>
    <div class='container text-center searchboxcontainer'>
      <form method="get" action='/'>
        <label for='q'>Query: </label><input type='text' name='q' alt="Query" />
        <input type='submit' />
      </form>
    </div>
    <p>
      Includes data from MaxMind's free GeoLite2 city database available <a href='https://dev.maxmind.com/geoip/geoip2/geolite2/'>here</a>, and licensed under <a href='https://creativecommons.org/licenses/by-sa/4.0/'>CC BY-SA 4.0</a>.
    </p>
  </body>
</html>
